
@media (prefers-color-scheme: dark) {
    :root {
    --bg-color       : #a82f2f;
    --main-text-color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color       : #fff;
        --main-text-color: #000;
    }    
}

:root{
    --font-base: 16px;
    color-scheme: only light;

}

.main-bg {
    background-color: var(--bg-color);
    color           : var(--main-text-color);
}

h1 {
    font-size: 5rem;
}

span {
    display  : block;
    font-size: 2rem;
}